.right_header ul {
  display: flex;
  align-items: center;

  .cart {
    color: #58585A;
    position: relative;

    a {
      color: #58585A;
    }

    span {
      position: absolute;
      background: #0068b7;
      width: 16px;
      height: 16px;
      text-align: center;
      color: #fff;
      border-radius: 50px;
      line-height: 16px;
      font-size: 11px;
      right: 9px;
      top: -5px;
    }
  }
}

.product-item {
  .price {
    display: flex;
    align-items: center;
    color: red;
    margin-top: 15px;
    //float: left;
    .promo {
      margin-left: 15px;
      color: #8b8383;
      text-decoration: line-through;
    }
  }
}

.pro_id {
  ul {
    li {
      margin-bottom: 10px;
    }

    h3 {
      -webkit-line-clamp: 2;
      line-height: 25px;
      min-height: 50px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      padding: 0;
    }
  }
}

.clor_01 {
  cursor: pointer;
}

.quantity {
  .minus, .plus {
    position: initial;
    width: 30px;
    height: 30px;
  }

  .input-text {
    width: 30px;
    height: 30px;
  }
}

.pro_id ul .btn_buy {
  border: solid #ccc 1px;
  color: #333;
  padding: 4px 15px;
  display: inline-block;
  transition: all 0.5s;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;

  &:hover {
    transition: all 0.5s;
    background: #0068b7;
    color: #fff;
    border: 1px solid;
  }
}

.ct_add {
  margin-top: 20px;

  ul {
    display: flex;
    align-items: flex-start;

    h3 {
      a {
        padding: 0 7px;
      }
    }
  }

  .so-luong-mua {
    display: -webkit-inline-box;
    float: left;
    margin-right: 10px;
  }

  .number-down, .number-up {
    border: 1px solid #eaebf3;
    outline: none;
    background: transparent;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: top;
    padding: 0;
    color: #424242;
    font-size: 15px;
    line-height: 40px;
    float: left;
    cursor: pointer;
  }

  #number {
    border: 1px solid #eaebf3;
    border-left: 0;
    border-right: 0;
    height: 40px;
    font-size: 12px;
    text-align: center;
    width: 60px;
    vertical-align: top;
    min-height: 40px;
    padding: 0;
    float: left;
  }


}

.block-total-left {
  width: 67%;
  float: left;
}

.block-total-cart {
  float: right;
  width: 30%;
  border: 1px solid #e8e8e8;
  padding: 20px 0;
  height: 100%;
  margin-top: 38px;
}

.heading-counter {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  width: 100%;
  float: left;
  padding: 0px 0 20px;
  margin-bottom: 0;
}

.heading-counter .count_cart {
  color: #0068b7;
}

table {
  border-collapse: collapse;
}

.cart_summary tr:first-child th {
  border: none;
  color: #222;
  font-weight: 500;
  padding: 7px 15px;
  background: #ececec;
  font-size: 16px;
  text-transform: capitalize;
}

.cart_summary tr td {
  padding: 15px 15px 15px;
  border-bottom: 1px solid #eaebf3;
  color: #fff;
  text-align: center;
}

table .c-th-sp a.sp {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100px;
  border: 1px solid #ebebeb;
  border-radius: 0;
  background: #fff;
  margin: 0;
  float: left;
  margin-right: 15px;
}

table .c-th-sp a.sp img {
  max-width: 100%;
  max-height: 100%;
}

.cart_summary tr td .dv-anh {
  text-align: left;
  float: left;
}

table .c-th-sp a {
  color: #424242;
  text-decoration: none;
  line-height: 25px;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

table .c-th-sp .del {
  color: #ed1c24;
  cursor: pointer;
  background: inherit;
  border: inherit;
  font-size: 16px;
}

table .c-th-ttien b, table .c-th-gia b {
  color: #ed1c24;
}

.cart_summary tr td {
  padding: 15px 15px 15px;
  border-bottom: 1px solid #eaebf3;
  color: #fff;
  text-align: center;
}

.qty.c-th-sluong .so-luong-mua {
  margin: 0;
  float: inherit;
}

.number-down, .number-up {
  border: 1px solid #eaebf3;
  outline: none;
  background: transparent;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: top;
  padding: 0;
  color: #424242;
  font-size: 15px;
  line-height: 40px;
  float: left;
  cursor: pointer;
}

.product-quantity {
  border: 1px solid #eaebf3;
  border-left: 0;
  border-right: 0;
  height: 40px;
  font-size: 12px;
  text-align: center;
  width: 60px;
  vertical-align: top;
  min-height: 40px;
  padding: 0;
  float: left;
}

.block-total-cart {
  float: right;
  width: 30%;
  border: 1px solid #e8e8e8;
  padding: 20px 0;
  height: 100%;
  margin-top: 38px;
}

.total-cart-page {
  display: flex;
  font-size: 15px;
  padding: 5px 15px;
}

.title-cart-page-left {
  flex-basis: 70%;
}

.number-cart-page-right {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.title-final-total .number-cart-page-right .price {
  color: #ed1c24;
  font-size: 18px;
}

.title-final-total {
  border-top: 1px solid #eaebf3;
  font-weight: 600;
  margin: 10px 0;
  display: flex;
  font-size: 15px;
  padding: 5px 15px;
}

.sc_button {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 16px 30px 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.2em;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: #0063ae;
}

#chitiet_news {
  width: 46%;
  float: left;
}

#chitiet_news h2, .sidebar__title {
  margin-bottom: 20px;
}

td.top_td, #chitiet_news table {
  border: none;
  padding: 5px 0 !important;
}

.top_td select, .top_td input, .top_td textarea {
  border-radius: 0px;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  border: 1px #d9d9d9 solid;
  height: 42px;
  background-color: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 100%;
  margin-bottom: 5px;
}

.top_td textarea {
  height: 120px !important;
}

#placeSlide_main .sidebar {
  width: 50%;
  float: right;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

#chitiet_news h2, .sidebar__title {
  margin-bottom: 20px;
}

table.total-line-table th {
  line-height: 27px;
  text-align: left;
  font-size: 15px;
  text-transform: capitalize;
  padding-left: 10px;
  padding-right: 10px;
  background-color: initial;
  color: #363738;
  font-weight: 600;
}

table.total-line-table td:last-child {
  text-align: right;
}

.payment-due__price {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -.04em;
  line-height: 1em;
  color: #ed1c24;
}

.thanhtoan-2 {
  margin-top: 20px;
}

.dv-gr-vanchuyen {
  border-radius: 0px;
  padding: 15px 20px;
  position: relative;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  line-height: 18px;
}

.dv-gr-vanchuyen.dv-gr-thanhtoan label {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 25px;
}

.radio__input {
  float: left;
}

input.lb_ghdck, .input_style_1 {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  background: transparent;
  line-height: normal;
  width: 18px;
  height: 18px;
  box-shadow: 0 0 0 0 #bbbbbb inset;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  vertical-align: -4px;
  outline: 0;
  border: 1px solid;
  border-color: #bbbbbb;
  margin-right: 8px;
  float: left;
  overflow: hidden;
}

.input_style_radio {
  border-radius: 100px;
}

input.lb_ghdck:checked, .input_style_1:checked {
  border: none;
  box-shadow: 0 0 0 10px #0063ae inset;
}

input.lb_ghdck:checked:after, .input_style_1:checked:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background-image: url(/images/checkbox-tick-0.svg), none;
  filter: alpha(opacity=100);
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.input_style_radio:checked:after {
  background: none;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  margin-top: -2px;
  background-color: #fff;
  border-radius: 50%;
}

.dv-gr-vanchuyen .blank-slate {
  background-color: #ececec;
  padding: 15px 20px;
  margin: 5px -20px -15px;
  line-height: 25px;
  color: #0b1315;
}

.sidebar .method-button-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.sidebar .method-button-cart > a {
  margin: 0;
}

.previous-link {
  color: #0063ae;
  text-decoration: underline;
}

.sidebar .method-button-cart .sc_item_button {
  float: right;
  margin: 0;
}

.sc_item_button {
  margin-top: 20px;
  text-align: center;
}

.sc_button {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 16px 30px 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.2em;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: #0063ae;
}

.thanhtoan-2 h2 {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#chitiet_news tr:hover {
  background-color: initial;
}

.field__input {
  height: 120px !important;
}

.formBox {
  li {
    input, textarea, select {
      border: solid 1px #ccc;
      height: 45px;
      color: #999;
      padding: 10px;
      font-size: 14px;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif, Roboto Condensed;
      width: 100%;
    }
  }
}

.product-item {
  i {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 1199px) {
  .right_header ul .cart span {
    top: -9px;
    //padding: 10px;
  }
  .page_conten_page {
    padding: 20px 15px;
  }
  .block-total-left, .block-total-cart {
    width: 100%;
  }
  .qty.c-th-sluong {
    width: 175px !important;
  }
  .table-container {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
    table {
      width: 100%;
      border-collapse: collapse;
      min-width: 500px; /* Optional: Ensures the table doesn't shrink too much */
    }
  }
  #chitiet_news, #placeSlide_main .sidebar {
    width: 50%;
  }
  #placeSlide_main .sidebar {
    padding-left: 15px;
  }
  #chitiet_news {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 767px) {
  #chitiet_news, #placeSlide_main .sidebar {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
    border-left: 0;
  }
}